<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_walk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{216,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{288,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{360,0},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_walk.png</string>
            <key>size</key>
            <string>{432,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad957b9644d87ac46ac944bc5ad33f9:83ce05afaa4adeaee2c35fc0de4c7f5d:683299a95562df732554f0ae295d85de$</string>
            <key>textureFileName</key>
            <string>player_walk.png</string>
        </dict>
    </dict>
</plist>
